@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Roboto+Condensed&display=swap');
$animation-duration: 400ms;
$animation-curve: ease-in-out;
$left-padding-content: 100px;
$left-padding-sm: 16px;

$contact-background-color: #303C55;
$btn-bg-color: black;
$btn-pressed-bg-color: #4a4a4a;
$text-color-primary: black;
$outline-text-color: white;
$info-bg-color: #eeeeee;

$headline-font-size: 36px;
$contact-box-title-font-size: 24px;
$cta-title-font-size: 24px;
$cta-description-font-size: 16px;
$cta-button-font-size: 12px;
:host {
  display: block;
}

#wrapper {
  width: 100%;
  height: auto;
  font-family: 'Playfair Display', serif;
  display: flex;
  flex-direction: column;
}

#headline {
  font-size: $headline-font-size;
  border-left: crimson 4px solid;
  margin-left: $left-padding-content;
  margin-right: 12.5%;
  padding-left: 16px;
  font-family: 'Roboto Condensed', sans-serif;
}


// Cta Body
.grid-container {
  display: flex;
  z-index: 10;
}

.info-section {
  padding: 0px 16px 16px $left-padding-content;
  background-color: $info-bg-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#ctaTitle {
  font-size: $cta-title-font-size;
  color: $text-color-primary;
}
#ctaDescription {
  font-size: $cta-description-font-size;

}
#ctaButton {
  background-color: $btn-bg-color;
  display: inline;
  color: $outline-text-color;
  width: fit-content;
  border: 0px;
  padding: 8px 16px;
  font-size: $cta-button-font-size;
  align-self: start;
  justify-self: start;

  &:active {
    transform: translateY(3px);
    animation-duration: 100ms;
    animation-timing-function: linear;
    animation-name: lighten-background;
    animation-fill-mode: forwards;
  }
}

.image-section {
  width: 50%;
  object-fit: cover;
}



// Contact Box
#contactBox {
  padding-left: $left-padding-content;
  height: 160px;
  background-color: $contact-background-color;
  z-index: 1;

}
.contact-box-header {
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -20px;
}

.cursor {
  width:24px;
  height:24px;
  margin-top: -12px;
  background-color: $contact-background-color;
  transform: rotate(45deg);
  z-index: 0;

}

#closeIcon {
  width: 16px;
  height: 16px;
  margin-right: 12px;
  margin-top: 12px;
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 50%;
  border: white solid 1px;
}

.close-icon-l1 {
  height: 12px;
  width: 1px;
  margin: auto;
  background-color: $contact-background-color;
  transform: rotate(45deg);
  Z-index: 1;
}

.close-icon-l2 {
  height: 12px;
  width: 1px;
  margin: auto;
  background-color: $contact-background-color;
  transform: rotate(90deg);
  Z-index: 2;
}

.contact-box-title {
  font-size: $contact-box-title-font-size;
  font-family: "Playfair Display", serif;
  color: $outline-text-color;
  margin-top: -20;
}


.anim-in {
  animation-duration: $animation-duration;
  animation-timing-function: $animation-curve;
  animation-name: slide-down;
  animation-fill-mode: forwards;
}

.anim-out {
  animation-duration: $animation-duration;
  animation-timing-function: $animation-curve;
  animation-name: slide-up;
  animation-fill-mode: forwards;
}

@keyframes slide-down {
  from {
    margin-top: -180px;
    opacity: 0;
  }

  to {
    margin-top: 20px;
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    margin-top: 20px;
    opacity: 1;
  }
  to {
    opacity: 0;
    margin-top: -180px;
  }
}

@keyframes lighten-background {
  from {
    background-color: $btn-bg-color;
  }

  to {
    background-color: $contact-background-color;
  }
}


@media (max-width: 600px) {
  #headline {
    font-size: $headline-font-size;
    border-left: crimson 4px solid;
    margin-left: $left-padding-sm;
    margin-right: 12.5%;
    padding-left: 16px;
    font-family: 'Roboto Condensed', sans-serif;
  }
  .grid-container {
    display: flex;
    flex: 1;
    flex-direction: column-reverse;
    z-index: 10;
  }
  .info-section {
    padding: 0px 16px 16px $left-padding-sm;;
    background-color: $info-bg-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .image-section {
    width: 100%;
    object-fit: cover;
  }
  #contactBox {
    padding-left: $left-padding-sm;
    height: 160px;
    background-color: $contact-background-color;
    z-index: 1;

  }
}
